includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon

parameters:
	tmpDir: %currentWorkingDirectory%/var/tmp

	exceptionRules:
		reportUnusedCatchesOfUncheckedExceptions: true
		checkedExceptions:
			- Modette\Exceptions\Check\CheckedException
